.header-img{
  width: 150px;
  height:auto;
}

.top-title{
  font-weight: 200;
  font-size: 80px;
  color: azure;
  text-align: center;
  font-family: 'Viaoda Libre', cursive;
  font-family: 'Noticia Text', serif;
}

.search-book{
  font-size: 20px;
  height:50px;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 10px;
}

.search-input{
  height:50px;
  width: 40%;
  border-radius: 10px;
  background-color: rgba(255,255,255,.7);
  font-size: 20px;
  margin-bottom: 100px;
}

.search-wrap{
  text-align: center;
  
}

.top-wrap{
  background-image: url(img/library-2507902_1920.jpg);
  position: relative;
  background-size: cover;
  background-position: center center; 

}
.top-wrap-shadow{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom:0;
  background-color: rgba(0,0,0,.5);
  z-index:0;
}

.top-wrap-contents{
  position: relative;
  z-index:1;
}

.top-wrap-contents p{
  font-size: 20px;
  color: azure;
  text-align: center;
}

.top-img{
  z-index:10;
  position: absolute;
  margin-left: 40px;
  right:0;

}

.favorite-wrap{
  background-color:#e8dbc8;
  clear: both;
}

.book-img-wrap{
  text-align: center;
}
.book-img{
  background-size: cover;
  background-position: center center; 
  width: 15%;
  height: 20%;
  margin:30px;
}
.favorite-logo{
  font-size: 40px;
  text-align: center;
  padding-top:40px;
  margin-top:0;
}

.btn{
  color:white;
  padding:10px 20px;
  font-size:12px;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  float: left;
  text-align: center;
  margin:20px;
  background-color: #da3c41;
  transition: background-color .3s ease-in;
  height:60px;
  width: 13%;
}

.btn:hover {
  border: none;
  background: rgba(0,0,0,0.4);
  background:#f08080;
  padding:20px 20px; #000;
  color:#1b1b1b;
}

.side-bar-left{
  float:left;
  width: 20%;
  height: auto;
  margin-top:50px;
}

.side-bar-right{
  float:right;
  width: 20%;
  height: auto;
  margin-top:50px;
}

.menu-wrap{
  height:100px;
  background-color: #e8dbc8;
}

.logout-item{
  float:right;
  padding-top:20px;
}
.logout-item img{
  width:30px;
  height:auto;
}
.logout-item a{
text-decoration: none;
}